<template name="AddTask">
    <div class="row">
        <legend>New Task</legend>
        {{#autoForm collection="tasks" id="insertTaskForm" type="insert" class="new-task-form"}}
            <div class="col-md-5">
                {{> afQuickField name='name' }}
                {{> afQuickField name='description' rows=8 }}
            </div>
            <div class="col-md-7">
                {{> afQuickField name='steps' }}
            </div>
            <div class="col-md-12">
                {{> afQuickField type='submit' value="Submit" }}
            </div>
        {{/autoForm}}
    </div>
</template>

<template name="globalVariablesModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Define Display Names for Global Variables</h4>
                </div>
                <form class="globalVarForm">
                    <div class="modal-body">
                        {{#each matches}}
                            <div class="form-group">
                                <label class="control-label">{{name}}</label>
                                <input class="form-control" type="text" name="{{name}}" required>
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>