<template name="AdminTask">

        {{#with task}}
            {{#unless editEnabled}}


                <article class="createdAt">{{formatDate createdAt}}</article>
                <button class="btn btn-default pull-right" id="enableEdit">Edit</button>
                <h2>{{name}}</h2>


                <div class="description">
                    {{description}}
                </div>


                <h3>Steps</h3>
                <ul>
                    {{#each steps}}
                        <li>
                            <p><h4>{{name}}</h4></p>
                            <p>{{description}}</p>
                        </li>
                    {{/each}}
                </ul>

                <hr>

                <strong>Users Attached:</strong>
                <ul>
                    {{#each user}}
                        <li style="list-style: none">
                            {{#each emails}}<a href="/admin/tasks/{{../../_id}}/results/{{../_id}}">{{address}}</a>{{/each}}
                            <input type="button" data-user="{{_id}}" class="unassign-user" value="x" data-task="{{../_id}}">
                        </li>
                    {{/each}}
                </ul>

                <hr>

                <form class="attach-users">
                    <select class="user-selected">
                        <option disabled selected>(Select user to attach)</option>
                        {{#each users}}
                            {{#each emails}}
                                <option value="{{address}}">{{address}}</option>
                            {{/each}}
                        {{/each}}
                    </select>
                    <input type="submit" class="btn btn-default" value="Attach">
                </form>
                <hr>
                <input type="button" id="delete-task" class="btn btn-danger" value="Delete">
            {{else}}
                {{#autoForm id="updateTask" type="update" collection="tasks" doc=(task _id)}}
                    <div class="col-md-5">
                        {{> afQuickField name="name"}}
                        {{> afQuickField name="description" rows=8}}
                    </div>
                    <div class="col-md-7">
                        {{> afQuickField name="steps"}}
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="submitEdit">Submit</button>
                            <button type="reset" class="btn btn-default">Reset Form</button>
                            <button id="cancel" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>


                {{/autoForm}}
            {{/unless}}
        {{/with}}

</template>

