<template name="UserTask">
    <div class="task">
        <h2>{{name}}</h2>
        {{description}}

        <h3>Active step</h3>
        {{#with step _id}}
            <h4>{{name}}</h4>
            {{description}}
            <hr>
            {{> Template.dynamic template=(userInput completionType)}}
        {{/with}}
    </div>
</template>



<template name="uploadTemplate">
    {{#with currentUpload}}
        Uploading <b>{{file.name}}</b>
        <span id="progress">{{progress.get}}%</span>
    {{else}}
        <input class="fileInput" data-stepId="{{../_id}}" type="file" >
        <p><small>Upload file in <code>jpeg</code> or <code>png</code> format</small></p>
    {{/with}}
</template>

<template name="textTemplate">
    <form class="completion-text" data-id="{{_id}}">
        <input type="text" name="text" class="completionString">
        <input type="submit" value="Submit">
    </form>
</template>

<template name="buttonTemplate">
    <input type="button" class="completion-button" data-id="{{_id}}" value="Next">
</template>