<template name="UserTask">
{{#if Template.subscriptionsReady}}
    <div class="task">
        {{#with task}}
            <h2>{{name}}</h2>
            <div class="description">
                {{{desc description}}}
            </div>

            <h3>Active step</h3>
            {{> MainStepTemplate _id}}

        {{/with}}
    </div>
{{/if}}
</template>

<template name="UserVariablesModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please complete these fields before completing the task</h4>
                </div>
                <form class="userVarForm">
                    <div class="modal-body">
                        {{#each toFill}}
                            <div class="form-group">
                                {{#if task}}
                                    <label class="control-label">{{name}}</label>
                                {{else}}
                                    <label class="control-label">{{displayName name}}</label>
                                {{/if}}
                                    <input class="form-control" type="text" name="{{name}}" required>
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>