<template name="AdminLayout">
    {{#if isInRole 'admin'}}
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Sekretutka</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Tasks</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    {{> Navigation }}
                </div>
                <div class="col-md-1">
                    {{> Template.dynamic template=main}}
                </div>
            </div>
        </div>
    {{else}}
        <span>Please login as admin</span>
        {{> loginButtons}}
    {{/if}}
</template>