<template name="AdminLayout">
    {{#if Template.subscriptionsReady}}
        {{#if isInRole 'admin'}}
            <div class="navbar navbar-default" role="navigation">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Sekretutka</a>


                </div>
                <ul class="nav navbar-nav navbar-right">
                    {{> Notifications}}
                    {{> loginButtons}}
                </ul>


            </div>

            <div class="container-fluid">
                {{#if isDemo}}
                    <div class="alert alert-danger text-center h4">
                        Insecure demo mode is enabled! Disable it before production use!
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-md-2">
                        {{> Navigation }}
                    </div>
                    <div class="col-md-10">
                        {{> Template.dynamic template=main}}
                    </div>
                </div>
            </div>
        {{else}}
            <span>Please login as admin</span>
            {{> loginButtons}}
        {{/if}}
    {{/if}}
</template>

<template name="Notifications">
    <li class="dropdown">

        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="label label-danger">{{notifCount}}</span>
        </a>

        <ul class="dropdown-menu">
            <h6 class="dropdown-header"><b>Notifications</b></h6>
            <li class="divider"></li>
            {{#each notification}}
                <li role="menuitem">
                    <a class="notification-item" href="{{href}}" data-id="{{_id}}">
                        <a class="remove-notification pull-right" href="#" data-id="{{_id}}">&times;</a>
                        <span class="small text-muted">
                            {{formatDateRelative createdAt}}
                            {{#unless seen}}
                                <span class="label label-success">new</span>
                            {{/unless}}
                        </span>
                        <p style="white-space: initial">{{text}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    </li>

</template>