<template name="Users">
    <div class="users">
        <span>Select User</span>
        <select class="selUser">
            {{#each users}}
                {{#each emails}}
                    <option value="{{../_id}}">{{address}}</option>
                {{/each}}
            {{/each}}
        </select>
        {{>User}}
    </div>
</template>

<template name="User">
    <strong>Attached Tasks:</strong>
    <ul>
        {{#each tasks}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</template>